<%= form_with model: container do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% container.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :location_id %><br>
    <%= form.text_field :location_id %>
    <% container.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>