<%= form_with model: container do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% container.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div data-controller="locations">
      <%= form.label :location_id %><br>
      <input list="location-list" data-action="input->locations#containerChanged">
      <datalist id="location-list">
        <% locations.each do |location| %>
          <option id="option-<%=location.name%>" data-value="<%=location.id%>" value="<%=location.name%>"></option>
        <% end %>
      </datalist>
      <input hidden name="location_id" id="hidden-input">
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>